<div class="page">


            <div style="border-bottom: 2px solid #d65612; padding-bottom: 10px; display: flex; align-items: center;">
                <div
                    style="width: 50px; height: 50px; border: 2px solid #d65612; border-radius: 50%; text-align: center; 
            font-size: 30px; font-weight: bold; color: #d65612; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                    F
                </div>
                <h2 style="color: #d65612; margin: 0; font-size: 30px; ">My Action Plan </h2>
            </div>

            <h3 style="color: #2b5c91; margin-bottom: 5px; font-size: 14px; font-weight: bold;    text-align: left;">
                Stage 1: Understanding
                your careers workbook</h3>

            <p style="margin: 2px 0; font-size: 11px; line-height: 1.4;    text-align: left;">
                Begin by thoroughly reviewing your careers workbook.<br>
                Have you read and understood the content? Have you also completed the Career Check self-assessment
                questionnaires?<br>
                a. Does the workbook align with your initial career ideas? If so, what were they?
            </p>
            <div style="border-bottom: 1px dotted #999; height: 18px;"></div>
            <div style="border-bottom: 1px dotted #999; height: 18px; margin-bottom: 6px;"></div>

            <p style="margin: 4px 0; font-size: 11px; line-height: 1.4;    text-align: left;">
                b. Does your workbook question any of your initial ideas? If so, what is the reason?
            </p>
            <div style="border-bottom: 1px dotted #999; height: 18px;"></div>
            <div style="border-bottom: 1px dotted #999; height: 18px; margin-bottom: 6px;"></div>

            <p style="margin: 4px 0; font-size: 11px; line-height: 1.4;    text-align: left;">
                c. Has it guided you to reconsider any career fields that you now believe are not suitable for you?
                Which ones, and why?
            </p>
            <div style="border-bottom: 1px dotted #999; height: 18px;"></div>
            <div style="border-bottom: 1px dotted #999; height: 18px; margin-bottom: 6px;"></div>

            <p style="margin: 4px 0; font-size: 11px; line-height: 1.4;    text-align: left;">
                d. Has it introduced any new career options for you? If yes, please list them below:
            </p>
            <div style="border-bottom: 1px dotted #999; height: 18px;"></div>
            <div style="border-bottom: 1px dotted #999; height: 18px; margin-bottom: 6px;"></div>

            <p style="margin: 4px 0; font-size: 11px; line-height: 1.4;    text-align: left;">
                e. Have you been able to share and explain your workbook with your parents?
            </p>
            <div style="border-bottom: 1px dotted #999; height: 18px;"></div>
            <div style="border-bottom: 1px dotted #999; height: 18px; margin-bottom: 10px;"></div>

            <h3 style="color: #2b5c91; margin: 20px 0 5px; font-size: 14px; font-weight: bold;    text-align: left;">
                Stage 2: Exploring
                potential career options</h3>

            <p style="margin: 2px 0; font-size: 11px; line-height: 1.4;    text-align: left;">
                Choose four to six careers you are interested in exploring further, and complete a Career Analysis Form
                for each one (additional copies can be photocopied if necessary). List these careers below:
            </p>

            <table style=" width: 100%; margin-top: 6px; font-size: 11px; border-collapse: collapse;">
                <tr style="all: unset;">
                    <td style="all: unset; width: 50%;    padding-right: 200px;">I)
                        ..............................................................</td>
                    <td style="all: unset; width: 50%;">II)
                        ..............................................................</td>
                </tr>
                <tr>
                    <td style="all: unset;    padding-right: 200px;">III) ..............................................................</td>
                    <td style="all: unset;">IV) ..............................................................</td>
                </tr>
                <tr>
                    <td style="all: unset;    padding-right: 200px;">V) ..............................................................</td>
                    <td style="all: unset;">VI) ..............................................................</td>
                </tr>
            </table>


            <h3 style="color: #2b5c91; margin: 20px 0 5px; font-size: 14px; font-weight: bold;    text-align: left;">
                Stage 3: Selecting
                suitable A Levels / IB subjects</h3>

            <p style="margin: 2px 0; font-size: 11px; line-height: 1.4;">
                Select four to six careers you would like to explore in more detail, and fill out a Career Analysis Form
                for each (you can photocopy extra copies if needed). List the careers below:
            </p>

            <table style="border: none;" border="0" cellspacing="0" cellpadding="6" id="nones">

                <thead style="background: #f9f9f9;">
                    <tr>
                        <th style="text-align: left; font-weight: bold;width: max-content;">Careers</th>
                        <th style="text-align: left; font-weight: bold;">Subject combinations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 6px;">I) ....................................................</td>
                        <td style="padding: 6px;">....................................................</td>
                    </tr>
                    <tr>
                        <td style="padding: 6px;">II) ....................................................</td>
                        <td style="padding: 6px;">....................................................</td>
                    </tr>
                    <tr>
                        <td style="padding: 6px;">III) ....................................................</td>
                        <td style="padding: 6px;">....................................................</td>
                    </tr>
                    <tr>
                        <td style="padding: 6px;">IV) ....................................................</td>
                        <td style="padding: 6px;">....................................................</td>
                    </tr>
                    <tr>
                        <td style="padding: 6px;">V) ....................................................</td>
                        <td style="padding: 6px;">....................................................</td>
                    </tr>
                    <tr>
                        <td style="padding: 6px;">VI) ....................................................</td>
                        <td style="padding: 6px;">....................................................</td>
                    </tr>
                </tbody>
            </table>



            <!-- Footer -->
            <div
                style="border-top: 1px solid #000000; padding-top: 10px; text-align: right; font-size: 8.5pt; font-weight: bold; color: #79C388; position: absolute; bottom: 30px; left: 30px; right: 30px;">
28
            </div>
        </div>
        //////////////////////////////////////////
        <div class="page">

            <div style="border-bottom: 2px solid #EE82EE; padding-bottom: 10px; display: flex; align-items: center;">
                <div
                    style="width: 50px; height: 50px; border: 2px solid #EE82EE; border-radius: 50%; text-align: center; 
            font-size: 30px; font-weight: bold; color: #EE82EE; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                    G
                </div>
                <h2 style="color: #EE82EE; margin: 0; font-size: 30px; ">CAREER ANALYSIS FORM</h2>
            </div>


            <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">

                <!-- Section 1 -->
                <tr>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;width: max-content;">What is
                        involved?</td>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px;"></td>
                </tr>
                <tr>
                    <td style="border: 1px dotted #000; padding: 10px; height: 60px;"></td>
                    <td style="border: 1px dotted #000; padding: 10px;"></td>
                </tr>

                <!-- Section 2 -->
                <tr>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">
                        Opportunities for training</td>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">
                        Requirements?</td>
                </tr>
                <tr>
                    <td style="border: 1px dotted #000; padding: 10px; height: 60px;"></td>
                    <td style="border: 1px dotted #000; padding: 10px;"></td>
                </tr>

                <!-- Section 3 -->
                <tr>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Kind of
                        person</td>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Broad
                        outlook</td>
                </tr>
                <tr>
                    <td style="border: 1px dotted #000; padding: 10px; height: 60px;"></td>
                    <td style="border: 1px dotted #000; padding: 10px;"></td>
                </tr>

                <!-- Section 4 -->
                <tr>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Related
                        occupations</td>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Impact
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px dotted #000; padding: 10px; height: 60px;"></td>
                    <td style="border: 1px dotted #000; padding: 10px;"></td>
                </tr>

                <!-- Section 5 -->
                <tr>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Earnings
                        potential</td>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Further
                        information</td>
                </tr>
                <tr>
                    <td style="border: 1px dotted #000; padding: 10px; height: 60px;"></td>
                    <td style="border: 1px dotted #000; padding: 10px;"></td>
                </tr>

                <!-- Section 6 -->
                <tr>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Overall
                        match - see Section C</td>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Career
                        check - see Section C</td>
                </tr>
                <tr>
                    <td style="border: 1px dotted #000; padding: 10px; height: 60px;"></td>
                    <td style="border: 1px dotted #000; padding: 10px;"></td>
                </tr>

                <!-- Section 7 -->
                <tr>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Subject
                        selections - see Section D</td>
                    <td style="border: 1px dotted #000; background: #e6e6e6; padding: 5px; font-weight: bold;">Why I
                        think this career would or would not suit me</td>
                </tr>
                <tr>
                    <td style="border: 1px dotted #000; padding: 10px; height: 60px;"></td>
                    <td style="border: 1px dotted #000; padding: 10px;"></td>
                </tr>

            </table>

            <!-- Footer -->
            <div
                style="border-top: 1px solid #000000; padding-top: 10px; text-align: right; font-size: 8.5pt; font-weight: bold; color: #79C388; position: absolute; bottom: 30px; left: 30px; right: 30px;">
29
            </div>

        </div>
/////////////////////////////////////
 <div class="page">





            <div style="border-bottom: 2px solid #ff94cd; padding-bottom: 10px; display: flex; align-items: center;">
                <div
                    style="width: 50px; height: 50px; border: 2px solid #ff94cd; border-radius: 50%; text-align: center; 
            font-size: 30px; font-weight: bold; color: #ff94cd; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                    H
                </div>
                <h2 style="color: #ff94cd; margin: 0; font-size: 30px; ">SCHOOL LEAVER PROGRAMMES</h2>
            </div>
            <div style="padding: 10px;">
                <p style="margin: 2px 0; font-size: 10pt; line-height: 1.4;padding: 10px;    text-align: left;">
                    We are helping you to consider various possible career paths and we hope you are
                    developing a greater knowledge of the ways in which you can get started. Many students choose to go
                    to
                    university immediately after sixth form study and take on the responsibility of meeting the cost.
                    Some
                    will
                    have obtained assistance with funding via a Sponsored degree scheme. Others decide to defer by
                    taking
                    time to
                    'gain experience'. This can be done in different ways, depending on your preferences but you will
                    find
                    ideas in
                    the Personal Development Guide Book. However,
                    depending which career area you are interested in, you could also have a number of other options
                    when
                    you leave school.
                </p>

                <p style="margin: 2px 0; font-size: 10pt; line-height: 1.4;padding: 10px;       text-align: justify;">
                    We are guiding you in exploring different career paths,
                    helping you gain a better understanding of how to begin your journey. Many students
                    choose to go directly to university after finishing sixth form and take on the responsibility
                    of funding their education. Some may receive financial support through sponsored degree programs,
                    while others may opt to defer and gain experience first. This can be done in various ways, with
                    suggestions provided in the Personal
                    Development Guide Book. Depending on your chosen career field, you might have additional options
                    upon
                    leaving school.
                </p>



                <p style="margin: 2px 0; font-size: 10pt; line-height: 1.4;padding: 10px;       text-align: justify;">
                    These programs offer an alternative to university. They are training schemes not governed by
                    government
                    guidelines but still allow you to gain qualifications specific to the industry you are working in.
                    Typically, they require around 96 UCAS points, with specific GCSE or A-level grades in English and
                    Mathematics (or their equivalents) often necessary. Larger companies offer these programmes in
                    fields
                    such as construction, property, engineering, banking, IT, media, business, retail, marketing,
                    professional services, insurance, law, public services, science and technology, hospitality,
                    leisure,
                    and food.
                </p>




                <p style="margin: 2px 0; font-size: 10pt; line-height: 1.4;padding: 10px;        text-align: justify;">
                    <span>Apprenticeships</span><br>
                    An apprenticeship is a job that includes training, allowing you to earn while you learn and work
                    towards
                    recognized qualifications. In England, if you're over 16 and not in full-time education, you can
                    apply.
                    Apprenticeships are divided into four levels, all governed by government guidelines:


                    <span>1. Intermediate Level</span>
                    Apprentices work towards qualifications like a Level 2 Competence Qualification, Functional Skills,
                    and
                    relevant knowledge-based qualifications.
                    <span>2. Advanced Level</span>
                    Apprentices work towards a Level 3 Competence Qualification, Functional Skills, and relevant
                    knowledge-based qualifications.
                    <span>3. Higher Apprenticeships</span>
                    Apprentices work towards a Level 4 Competence Qualification, Functional Skills, and sometimes a
                    knowledge-based qualification, such as a Foundation Degree.
                    <span>4. Degree Apprenticeships</span>
                    This scheme allows you to obtain a degree, with costs covered by both the government and employers.
                    Time
                    is split between gaining industry experience and academic knowledge at university. You will need to
                    meet
                    specific tariff points, and competition for these places is likely to be intense.

                </p>
            </div>
            <!-- Footer -->
            <div
                style="border-top: 1px solid #000000; padding-top: 10px; text-align: right; font-size: 8.5pt; font-weight: bold; color: #79C388; position: absolute; bottom: 30px; left: 30px; right: 30px;">
30
            </div>
        </div>///////////////////

         <div class="page">
            <div style="border-bottom: 2px solid #ff94cd; padding-bottom: 10px; display: flex; align-items: center;">
                <div
                    style="width: 50px; height: 50px; border: 2px solid #ff94cd; border-radius: 50%; text-align: center; 
            font-size: 30px; font-weight: bold; color: #ff94cd; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                    H
                </div>
                <h2 style="color: #ff94cd; margin: 0; font-size: 30px; ">SCHOOL LEAVER PROGRAMMES</h2>
            </div>

            <h2
                style="color: #ff94cd; margin-top: 0;font-size: 15pt; line-height: 1.4;padding: 10px;    text-align: left;">
                Competence Levels</h2>
            <p style="line-height: 1.5; margin-bottom: 20px;    text-align: justify;">
                NVQs are structured across five levels, depending on the required competencies. The following
                definitions offer a general overview of the progression from one level to the next and how they relate
                to each other. Levels 1 to 3 are most relevant for learners aged 14–19, while achieving level 4 at this
                stage is uncommon.
            </p>

            <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <tr>
                    <td
                        style="width: 20%; vertical-align: top; background: #f4f4f4; padding: 8px; border: 1px solid #ddd;">
                        <strong>Level 1</strong>
                    </td>
                    <td style="padding: 8px; border: 1px solid #ddd;        text-align: justify;">
                        Competence that involves applying knowledge to perform a variety of routine and predictable
                        tasks.
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; background: #f4f4f4; padding: 8px; border: 1px solid #ddd;">
                        <strong>Level 2</strong>
                    </td>
                    <td style="padding: 8px; border: 1px solid #ddd;        text-align: justify;">
                        Competence that requires the application of knowledge in a wide range of work activities,
                        performed in diverse contexts. Some tasks may be complex or non-routine, with a degree of
                        individual responsibility and autonomy. Working with others, possibly in a team, is often
                        necessary.
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; background: #f4f4f4; padding: 8px; border: 1px solid #ddd;">
                        <strong>Level 3</strong>
                    </td>
                    <td style="padding: 8px; border: 1px solid #ddd;       text-align: justify;">
                        Competence that involves applying knowledge across a broad range of varied work activities, most
                        of which are complex and non-routine. It includes significant responsibility and autonomy, often
                        involving the supervision or guidance of others.
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; background: #f4f4f4; padding: 8px; border: 1px solid #ddd;">
                        <strong>Level 4</strong>
                    </td>
                    <td style="padding: 8px; border: 1px solid #ddd;        text-align: justify;">
                        Competence that involves applying knowledge in a wide range of complex, technical, or
                        professional tasks performed in various contexts. It includes a high level of personal
                        responsibility and autonomy, often involving overseeing the work of others and managing
                        resources.
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; background: #f4f4f4; padding: 8px; border: 1px solid #ddd;">
                        <strong>Level 5</strong>
                    </td>
                    <td style="padding: 8px; border: 1px solid #ddd;        text-align: justify;">
                        Competence that involves applying fundamental principles across a broad and unpredictable range
                        of contexts, with substantial personal autonomy. It often includes significant responsibility
                        for others’ work and resource allocation, alongside personal accountability for analysis,
                        diagnosis, design, planning, execution, and evaluation.
                    </td>
                </tr>
            </table>

            <p style="margin-top: 20px; line-height: 1.5;    text-align: justify;">
                At the apprenticeship level, the technical certificate and NVQ are level 2, reflecting the competences
                of GCSE grades D-G and A-C, respectively. At the advanced apprenticeship level, you work towards level 3
                awards, which align with the competencies of A levels.
            </p>

            <!-- Footer -->
            <div
                style="border-top: 1px solid #000000; padding-top: 10px; text-align: right; font-size: 8.5pt; font-weight: bold; color: #79C388; position: absolute; bottom: 30px; left: 30px; right: 30px;">
31
            </div>
        </div>